
html {
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
}

/*Globales*/
img {
    max-width: 100%;
}
.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}


h1 {
    font-size: 3.8rem;
}

h2 {
    font-size: 3.4rem;
}

h3 {
    font-size: 3rem;
}

h4 {
    font-size: 2.6rem;
}

.boton {
    background-color:rgb(202, 0, 0);
    color: #ffffff;
    font-weight: 700;
    text-decoration: none;
    font-size: 1.8rem;
    padding: 1rem 3rem;
    margin-top: 3rem;
    display: block;
    text-align: center;
    border: none;
}

.boton:hover {
    cursor: pointer;
}

.site-header {
    background-color: #333333;
    padding: 1rem 0 3rem 0;
}
.site-header.inicio {
    background-image: url(../img/header.jpg);
    background-position: center center;
    background-size: cover;
    height: 100vh;
    min-height: 60rem;
}

.barra {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 3rem;
}

.contenido-header {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contenido-header h1 {
    color: #ffffff;
    padding-bottom: 2rem;
    max-width: 60rem;
    line-height: 1.8;
}

/*Navegacion*/

.navegacion a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.8rem;
    margin-right: 2rem;
}

.navegacion a:last-of-type {
    margin: 0;
}

/*obras*/
.contenedor-obras h2 {
    text-align: center;
}

.obras{
    display: flex;
    justify-content: space-between;
}

.obra{
    flex-basis: calc(33.3% - 1rem);
    text-align: center;
}

.obra h3 {
    margin: 0;
}

/*Eventos*/

.contenedor-eventos {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.evento {
    flex: 0 0 calc(33.3% - 1rem);
    border: 1px solid #b5b5b5;
    background-color: #f5f5f5;
    margin-bottom: 2rem;
}

.eventos h2 {
    text-align: center;
}
.contenido-anuncio {
    padding: 2rem;
}


.fecha-hora {
    color: #71b100;
    font-weight: 700;
}

/*Historias*/

.contenedor-historias {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.historias h2 {
    text-align: center;
}
.historia {
    flex: 0 0 calc(33.3% - 1rem);
    border: 1px solid #b5b5b5;
    background-color: #f5f5f5;
    margin-bottom: 2rem;
}

/*footer*/

.site-footer {
    background-color: #333333;
    color: #ffffff;
}
.contenedor-footer {
    display: flex;
    justify-content: space-between;
}

.contenedor-footer img {
    margin-top: 60px;
    width: 200px;
    height: 200px;
}


.redes-sociales i {
    margin-left: 30px;
}

.copyright {
    text-align: center;
    padding: 50px 0 20px 0;
    margin: 0;
}
